div#md-addsection,div#md-addsavedsection{
    width: 300px;
    top: 0 !important;
    transform: none;
    right: auto;
    left: 0;
    height: 100%;
    overflow: auto;
    background: #333333;
    border-radius: 0;
    right: auto !important;
    transform: translateX(-400px) !important;
    visibility: visible;
    display: block !important;
    margin-top: 0px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    max-height: none !important;
}
.ui-dragbox-outlined > div:first-child {
    z-index: 1;
    outline: 1px solid #00da89;
}
#md-delsectionconfirm *,#md-delrowconfirm *,#md-delcolconfirm *{
  color: #ffffff;
}
div#md-addsection.md-show,div#md-addsavedsection.md-show{
    transform: translateX(0px) !important;
}
div#md-addsection .md-content,#md-addsavedsection .md-content{
	border-radius:0;
	background: transparent;
	transform: none !important;
    opacity: 1 !important;
}
.section-list,.custom-section-list{
	max-height:none;
	background: transparent
}
.custom-section-list {width:100%;margin:0;padding:27px 0 0;box-sizing:border-box;text-align:center;}

.custom-section-list div{cursor:pointer;margin:0 15px 19px;padding:0;display:inline-block;background:#acacac;position: relative;}
.custom-section-list div:hover img {opacity:0.5;transition: all 0.2s ease-in-out;}
.custom-section-list div img {border:#cdcdcd 1px solid;width:100%; max-width:250px; margin:0; box-sizing:border-box;display:block;-webkit-box-shadow: 0px 5px 17px rgba(0, 0, 0,0.2);-moz-box-shadow: 0px 5px 17px rgba(0, 0, 0,0.2);box-shadow: 0px 5px 17px rgba(0, 0, 0,0.2);}
.custom-section-list div{background:transparent}
.custom-section-list div img {opacity:0.9;}
.custom-section-list div:hover img {opacity:1;}
.custom-section-list div img {border:none;}
.custom-section-list div span{
  display: block;
  margin-top: 10px;
  font-size: 15px;
  font-family: 'Varela Round', sans-serif;
}

.builder_controls{
    padding: 10px 0;
	top:0;
	left:0;
	right:0;
}
.builder_controls ul{
	list-style: none;
    padding: 0;
    margin: 0;
	width: 100%;
}
.builder_controls li {
    display: inline-block;
}
.builder_controls .btn.btn-primary {
    color: #ffffff;
    background-color: #333333 !important;
    border-color: #333333 !important;
    padding: 5px 15px !important;
    font-size: 14px !important;
    margin-right: 5px;
}
#rte-toolbar.rte-side {
    top: 70px;
}
.alert{
	margin-bottom:0;
}
.customTools{
  position:absolute;
}
#md-widgetselect{
      height: 90%;
  overflow: hidden;
}
#md-widgetselect .md-content{
  padding: 20px;
  padding-top: 50px;
      height: 100%;
}
.md-modal:not(#md-html):not(#md-view-html):not(#md-createlink):not(#md-icon-select):not(#md-insertimage):not(#md-delsectionconfirm):not(#md-delrowconfirm):not(#md-makeglobal):not(#md-delcolconfirm):not(#md-customcolor) .md-content{
  height: 100%;
}
.md-modal:not(#md-html):not(#md-view-html):not(#md-addsection):not(#md-delsectionconfirm):not(#md-delrowconfirm):not(#md-addsavedsection):not(#md-makeglobal):not(#md-delcolconfirm):not(#md-customcolor) .md-content{
      padding-top: 45px;
}
.md-modal .md-content .md-body{
 overflow-y: auto;
 overflow-x: hidden;
 height: 100%;
}
.md-modal:not(#md-addsection):not(#md-addsavedsection) .md-content .md-body{
  height: calc(100% - 55px);
}
.md-modal .md-modal-handle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#md-editbox{
  margin-top: 0;
}
#divSnippetList {
  border-bottom: transparent 0px solid;
  height: calc(100% - 25px);
}
#md-widgetselect .md-content .selectcat button{
  border-style: none;
  font-size: 13px;
  margin: 3px;
  background: rgba(95, 95, 95, 0.7);
  color: #fff;
}
#md-widgetselect .md-content .selectcat button:hover,#md-widgetselect .md-content .selectcat button.active{
   background: rgba(95, 95, 95, 0.4);
   color:#ffffff;
}
#divSnippetList{
  border-top:0 !important;
}
#md-widgetselect .md-content .md-body #selSnips{
  display:none !important;
}
#md-widgetselect .md-content .selectcat{
  top: -34px;
  position: relative;
}
.customTools button{
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 0px;
  padding: 5px 0px;
  margin: 0;
  color: #ffffff;
  background-color: rgb(77, 77, 77);
  border: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
margin-left: 0px;
    border-radius: 0;
    float: left;
}
#lnkeditbox{
vertical-align: top;
}
.customTools button:first-child{
  border-top-right-radius:0;
  border-bottom-right-radius:0;
}
.customTools button:last-child{
  border-top-left-radius:0;
  border-bottom-left-radius:0;
}
.customTools button:hover{
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255,255,255,0.9);
}
.customTools button#widgetselect{
  background-color: rgb(175, 206, 1);
}
.customTools button#widgetselectup{
  background-color: rgb(77, 77, 77);
}
.customTools button#rowsetting{
  background-color: rgb(0, 172, 214);
}
.customTools button#styleselectanimate{
  background-color: rgb(247, 99, 46);
}
.row-html,.row-handle{
  background-color: rgb(77, 77, 77);
}
#md-widgetselect #divSnippetList{
  overflow: auto;
}
#lnkToolOpen{
  display:none;
}
.customTools{
  opacity: 0;
    z-index: 999;
}
.ui-tooltip{
  z-index: 999999999 !important;
  box-shadow: none !important;
  font-size: 12px;
}

#spacerTools button{
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%)translateX(-50%);
}
#spacerTools button#spacer-plus{
margin-left: 30px;
}
.md-content .switch{
  display: block;
  clear: both;
  position: relative;
}
.md-content .switch input{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 100;
}
.md-content .switch label{
      margin: 0;
      line-height: 1.7;
      font-size: 11px !important;
      letter-spacing: 2px !important;
      text-transform: uppercase !important;
      color: #000;
      background-color: #e3e3e3;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      border: none;
      border-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      background: rgba(150, 150, 150, 0.17);
      color: rgba(255,255,255,0.5);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      height: 50px;
    display: block;
    line-height: 50px;
    text-align: center;
        min-width: 65px;
}
.md-content .switch label:hover{
  background-color: rgba(150, 150, 150, 0.25);
    color: rgba(255,255,255,0.6);
}
.md-content .switch input[type="radio"]:checked+label{
    background: #000;
}
.md-content .switch input[type="checkbox"]:checked+label{
    background: #000;
}

.animationList .is-tab-contents{
  overflow: hidden;
    max-height: none;
}
[class*='col-']{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.row-copy .cb-icon-plus:before{
  content:'\e916';
}
.builder_controls .btn.btn-primary,.bootstrap removable button,.row-handle *, .row-html *, .row-copy *, .row-remove *{
  font-family: 'Open Sans', sans-serif !important;
  color: #ffffff !important;
}
.builder_controls .nav>li a{
  background-color:#ffffff !important;
  color:#000000 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
font-family: 'Open Sans', sans-serif !important;
}
.builder_controls .nav>li .dropdown-menu li:hover a{
  background-color:#fafafa !important;
}
.bootstrap removable {
  display: block !important;
}
.row-handle *, .row-html *, .row-copy *, .row-remove *{
  line-height:2 !important;
}
.bootstrap{
  margin-top: 30px;
}
.bootstrap removable{
  position: absolute;
  top: -30px;
}
.bootstrap removable button{
background: rgb(0, 172, 214);
  border: 0;
  padding-top: 0;
  font-size: 15px !important;
  height: 25px !important;
  line-height: 25px !important;
  padding: 0 10px;
  margin-left: 2px;
  margin-top: 4px;
}
.bootstrap .row .col{
  position: relative;
}
.bootstrap .row .col{
  border:1px solid #cccccc;
}
.bootstrap .row removable{
  right:15px;
}
.animated.fastest{
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
}
#media-select .tab-content,#cover-select .tab-content{
  height: 100%;
}
#media-select #upload,#cover-select #upload2{
  height: calc(100% - 20px);
}
#media-select #upload .card-box,#cover-select #upload2 .card-box{
  height: 100%;
position: relative;
}
#media-select #upload .card-box .dropzone,#cover-select #upload2 .card-box .dropzone{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#media-select #upload .card-box .dropzone .dz-message,#cover-select #upload2 .card-box .dropzone .dz-message{
  margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.d-xl-none,.d-lg-none{
    display: block!important;
    opacity: .4;
}
.is-boxes label{
      display: block;
}
#divImgShape span{
  display: inline-block;
    background: #cccccc;
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
}
.ui-sortable-placeholder{
  background-color: rgba(204,204,204,.5);
  height: 100px !important;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.md-modal:not(#md-html):not(#md-view-html):not(#md-createlink):not(#md-icon-select):not(#md-insertimage):not(#md-delsectionconfirm):not(#md-delrowconfirm):not(#md-makeglobal):not(#md-delcolconfirm):not(#md-customcolor){
  height: 100%;
  max-height: 500px;
}
.md-modal:not(#md-html):not(#md-view-html):not(#md-createlink):not(#md-icon-select):not(#md-insertimage):not(.stuckright):not(#md-addsection):not(#md-addsavedsection):not(#md-delsectionconfirm):not(#md-delrowconfirm):not(#md-customcolor):not(#md-makeglobal):not(#md-delcolconfirm){
  padding: 20px;
}
.md-show{
display: block !important;
}
.md-title .lock-unlock{
  position: absolute;
      left: 20px;
}
.is-section-tool > div,#divboxtool{
  border-radius: 0 !important
}
[class*="col-"]:focus:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px dotted #00da89;
    z-index: -1;
}
.ui-draggable{
  z-index: 1;
}
#tab-content-editbox-5 .is-box-2 {
    width: 20.666667%;
}
body .md-modal *:not(i){
  font-family: "Open Sans", sans-serif !important;
}
body .md-modal a{
  color: rgba(255,255,255,0.5);
}
#divImgPl p{
  color: #ffffff;
}
