﻿<div data-thumb="01.png">
    <div class="is-section is-section-100 is-light-text is-box">

        <div class="is-overlay">
            <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
            <div class="is-overlay-color"></div>
            <div class="is-overlay-content"></div>
        </div>

        <div class="is-boxes">

            <div class="is-box-centered">
                [%CONTAINER_START%]
            		    <div class="display">
                		    <h1 style="margin:0.2em 0">Lorem Ipsum is simply dummy text of the printing industry</h1>
            		    </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                [%CONTAINER_END%]
            </div>

        </div>

    </div>
</div>


<div data-thumb="02.png">
    <div class="is-section is-section-100 is-box">

        <div class="is-boxes">

            <div class="is-box-centered">
                [%CONTAINER_START%]
                    <h1>Lorem Ipsum is simply dummy text</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                [%CONTAINER_END%]
            </div>

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-builder is-content-800" data-thumb="03.png">
    <div class="is-section is-section-100">

        <div class="is-boxes">

            <div class="is-box-4 is-box-img is-box">

                <div class="is-boxes ">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                </div>

            </div>

            <div class="is-box-8 is-box">

                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text of the printing industry</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-builder is-content-800" data-thumb="04.png">
    <div class="is-section is-section-100">

        <div class="is-boxes">

            <div class="is-box-8 is-box">

                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text of the printing industry</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

            <div class="is-box-4 is-box-img is-box">

                <div class="is-boxes">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>


<!-- Two Content Container -->


<div data-find="is-builder" data-replace="is-builder is-content-640" data-find2="is-builder" data-replace2="is-builder is-content-640" data-thumb="05.png">
    <div class="is-section is-section-100">

        <div class="is-boxes">

            <div class="is-box-6 is-light-text is-box">

                <div class="is-boxes">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                    <div class="is-box-centered">
                        [%CONTAINER_START%]

            		        <div class="display">
                		        <h1 style="margin:0.2em 0">Lorem Ipsum is simply dummy text of the printing industry</h1>
            		        </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

            <div class="is-box-6 is-box">

                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text of the printing industry</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>



<div data-find="is-builder" data-replace="is-builder is-content-640" data-find2="is-builder" data-replace2="is-builder is-content-640" data-thumb="06.png">
    <div class="is-section is-section-100">

        <div class="is-boxes">

            <div class="is-box-6 is-box">

                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text of the printing industry</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

            <div class="is-box-6 is-light-text is-box">

                <div class="is-boxes">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                    <div class="is-box-centered">
                        [%CONTAINER_START%]

            		        <div class="display">
                		        <h1 style="margin:0.2em 0">Lorem Ipsum is simply dummy text of the printing industry</h1>
            		        </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>


<!-- MODULES -->

<!--
<div data-find="is-builder" data-replace="" data-thumb="07.png">
    <div class="is-section is-section-100 is-stretch is-box">
        <div>
            <div class="is-module"></div>
        </div>
    </div>
</div>
-->
<!--
Problem in small screen (dissapear)
.is-section .is-stretch { /* backward compatible */
    position:absolute;left:0px;top:0px;width:100%;height:100%;
}

<div data-find="is-builder" data-replace="" data-thumb="07.png">
    <div class="is-section is-section-100 is-box">
        <div class="is-stretch">
            <div class="is-module"></div>
        </div>
    </div>
</div>


<div data-find="is-builder" data-replace="" data-thumb="08.png">
    <div class="is-section is-section-100 is-box">

        <div class="is-boxes">

            <div class="is-box-centered">
                [%CONTAINER_START%]
                <div class="is-module"></div>
                [%CONTAINER_END%]
            </div>

        </div>

    </div>
</div>



<div data-find="is-builder" data-replace="is-content-800" data-thumb="09.png">
    <div class="is-section is-section-100">

        <div class="is-boxes">

            <div class="is-box-4 is-box-img is-box">

                <div class="is-boxes">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                </div>

            </div>

            <div class="is-box-8 is-box">

                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                        <div class="is-module"></div>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-content-800" data-thumb="10.png">
    <div class="is-section is-section-100">

        <div class="is-boxes">

            <div class="is-box-8 is-box">

                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                        <div class="is-module"></div>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

            <div class="is-box-4 is-box-img is-box">

                <div class="is-boxes">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-builder is-content-640" data-find2="is-builder" data-replace2="is-content-640" data-thumb="11.png">
    <div class="is-section is-section-100">

        <div class="is-boxes">

            <div class="is-box-6 is-light-text is-box">

                <div class="is-boxes">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                    <div class="is-box-centered">
                        [%CONTAINER_START%]

            		        <div class="display">
                		        <h1 style="margin:0.2em 0">Lorem Ipsum is simply dummy text of the printing industry</h1>
            		        </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

            <div class="is-box-6 is-box">

                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                        <div class="is-module"></div>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-content-640" data-find2="is-builder" data-replace2="is-builder is-content-640" data-thumb="12.png">
    <div class="is-section is-section-100">

        <div class="is-boxes">

            <div class="is-box-6 is-box">

                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                        <div class="is-module"></div>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

            <div class="is-box-6 is-light-text is-box">

                <div class="is-boxes">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                    <div class="is-box-centered">
                        [%CONTAINER_START%]

            		        <div class="display">
                		        <h1 style="margin:0.2em 0">Lorem Ipsum is simply dummy text of the printing industry</h1>
            		        </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>




<div data-find="is-builder" data-replace="is-builder is-content-800" data-find2="is-builder" data-replace2="is-content-500" data-thumb="13.png">
    <div class="is-section is-section-100">

        <div class="is-boxes">

            <div class="is-box-7 is-bg-light is-box">

                <div class="is-boxes">

                    <div class="is-box-centered is-content-top">
                        [%CONTAINER_START%]

            		        <div class="display">
                		        <h1 style="margin:0.2em 0">Lorem Ipsum is simply dummy text of the printing industry</h1>
            		        </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

            <div class="is-box-5 is-bg-grey is-box">

                <div class="is-boxes">

                    <div class="is-box-centered is-content-top">
                        [%CONTAINER_START%]
                        <div class="is-placeholder"></div>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-content-640" data-find2="is-builder" data-replace2="is-builder is-content-640" data-thumb="14.png">
    <div class="is-section is-section-100">

        <div class="is-boxes">

            <div class="is-box-5 is-bg-grey is-box">

                <div class="is-boxes">

                    <div class="is-box-centered is-content-top">
                        [%CONTAINER_START%]
                        <div class="is-placeholder"></div>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

            <div class="is-box-7 is-bg-light is-box">

                <div class="is-boxes">

                    <div class="is-box-centered is-content-top">
                        [%CONTAINER_START%]

            		        <div class="display">
                		        <h1 style="margin:0.2em 0">Lorem Ipsum is simply dummy text of the printing industry</h1>
            		        </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
-->




<div data-find="is-builder" data-replace="is-builder is-content-500" data-find2="is-builder" data-replace2="is-builder is-content-500" data-find3="is-builder" data-replace3="is-builder is-content-500" data-thumb="15.png">
    <div class="is-section is-section-100">

        <div class="is-boxes">

            <div class="is-box-4 is-light-text is-box">

                <div class="is-boxes">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                    <div class="is-box-centered is-content-bottom">
                        [%CONTAINER_START%]
                		    <h2>Lorem Ipsum</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

            <div class="is-box-4 is-light-text is-box">

                <div class="is-boxes">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                    <div class="is-box-centered is-content-bottom">
                        [%CONTAINER_START%]
                		    <h2>Lorem Ipsum</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

            <div class="is-box-4 is-light-text is-box">

                <div class="is-boxes">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                    <div class="is-box-centered is-content-bottom">
                        [%CONTAINER_START%]
                		    <h2>Lorem Ipsum</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>




<div data-find="is-builder" data-replace="is-builder is-content-640" data-find2="is-builder" data-replace2="is-builder is-content-640" data-find3="is-builder" data-thumb="16.png">
    <div class="is-section is-section-100">

        <div class="is-boxes">

            <div class="is-box-6 is-light-text is-box">

                <div class="is-boxes">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                    <div class="is-box-centered is-content-bottom">
                        [%CONTAINER_START%]
                		    <h2>Lorem Ipsum is simply dummy text</h2>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

            <div class="is-box-6 is-light-text is-box">

                <div class="is-boxes">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                    <div class="is-box-centered is-content-bottom">
                        [%CONTAINER_START%]
                		    <h2>Lorem Ipsum is simply dummy text</h2>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>

<div data-find="is-builder" data-replace="is-builder is-content-640" data-find2="is-builder" data-replace2="is-builder is-content-640" data-find3="is-builder" data-thumb="24.png">
    <div class="is-section is-section-100">

        <div class="is-boxes">

            <div class="is-box-3 is-light-text is-box">

                <div class="is-boxes">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                    <div class="is-box-centered is-content-bottom">
                        [%CONTAINER_START%]
                		    <h2>Lorem Ipsum is simply dummy text</h2>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

            <div class="is-box-3 is-light-text is-box">

                <div class="is-boxes">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                    <div class="is-box-centered is-content-bottom">
                        [%CONTAINER_START%]
                		    <h2>Lorem Ipsum is simply dummy text</h2>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

			<div class="is-box-3 is-light-text is-box">

                <div class="is-boxes">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                    <div class="is-box-centered is-content-bottom">
                        [%CONTAINER_START%]
                		    <h2>Lorem Ipsum is simply dummy text</h2>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

			<div class="is-box-3 is-light-text is-box">

                <div class="is-boxes">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                    <div class="is-box-centered is-content-bottom">
                        [%CONTAINER_START%]
                		    <h2>Lorem Ipsum is simply dummy text</h2>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>

<div data-find="is-builder" data-replace="is-builder is-content-1100"  data-thumb="17.png">
    <div class="is-section is-section-100 is-boxed-layout is-box">

        <div class="is-boxes">

            <div class="is-overlay">
                <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                <div class="is-overlay-color"></div>
                <div class="is-overlay-content"></div>
            </div>

            <div class="is-box-centered">
                [%CONTAINER_START%]

            		    <div class="display">
                		    <h1 style="margin:0.2em 0">Lorem Ipsum is simply dummy text of the printing industry</h1>
            		    </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                [%CONTAINER_END%]
            </div>

        </div>

    </div>
</div>
