﻿html {height:100%;}
body {height:100%;width:100%;padding:0;margin:0;overflow-x:hidden;}

/* Container for All Sections */
.is-wrapper {width:100%;height:100%;box-sizing:border-box;margin:0 auto;max-width:100%;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

/* Sections */
.is-wrapper > div {
    display:flex;
    width:100%;
    height: auto; /* default */
    float:left;
    box-sizing:border-box;
    margin:0;
    padding:0;
    position:relative;
    background:#fff;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	transition: all ease 0.3s;
	/*z-index:1;*/
}

/* Boxes */
.is-boxes {display:flex;width:100%;position:relative;height: 100%;align-items: center;justify-content: center;}
.is-box {-webkit-transition: all ease 0.2s;-moz-transition: all ease 0.2s;-ms-transition: all ease 0.2s;-o-transition: all ease 0.2s;transition: all ease 0.2s;vertical-align:top;}
.is-box-0 {width: 0%;height:100%;position:relative; }
.is-box-1 {width: 8.333333%;height:100%;position:relative; }
.is-box-2 {width: 16.666667%;height:100%;position:relative; }
.is-box-3 {width: 25%;height:100%;position:relative; }
.is-box-4 {width: 33.333333%;height:100%;position:relative; }
.is-box-5 {width: 41.666667%;height:100%;position:relative; }
.is-box-6 {width: 50%;height:100%;position:relative; }
.is-box-7 {width: 58.333333%;height:100%;position:relative; }
.is-box-8 {width: 66.666667%;height:100%;position:relative; }
.is-box-9 {width: 75%;height:100%;position:relative; }
.is-box-10 {width: 83.333333%;height:100%;position:relative; }
.is-box-11 {width: 91.666667%;height:100%;position:relative; }
.is-box-12 {flex: 0 0 100%;position:relative; }

.is-box-centered {width: 100%;position:relative;align-items: center;justify-content: center;}


.is-stretch > div:not(.is-arrow-down) {  /* Unlike .is-overlay (absolute positioned), this section is relative positioned. With this, flowing content is safe, and stretched content can be made absolute with class .flexi-position */
    position:relative;left:0px;top:0px;width:100%;height:100%;display:table;
}
/*
.flexi-position is set relative by default, but will set absolute (stretched) if placed within section .is-stretch
*/
.flexi-position { position: relative; }
.is-stretch .flexi-position { position: absolute; }

.is-section.is-stretch {min-height:300px;} /* New */

@media all and (max-width: 960px) {

  /*   .is-section:not(.is-stretch), .is-section-100:not(.is-stretch) { height: auto !important; } is-stretch is an exception */
    .is-section:not(.is-box) { height: auto !important; }

    /* .is-boxes { height: auto !important; } */
    .is-boxes { height: 100% !important; } /* new */

    .is-box-img {height:300px !important;}
    .is-box-img .is-boxes {height:100% !important;}


    /* .is-box-centered {display:block;} */
		.is-box{
			flex-basis: 0 0 100%;
		}


}

.is-container {
    max-width:980px;margin:0 auto;padding:0 30px;
    position:relative;margin-left:auto;margin-right:auto;box-sizing:border-box;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
@media all and (max-width: 960px) {
    .is-container { padding:15px; }
}
@media all and (max-width: 480px) {
    .is-container { padding:15px; }
}

/* Boxed Layout */
.is-wrapper  .is-boxed-layout .is-container {padding:50px; background:#fff;} /* 80px */
@media all and (max-width: 1280px) {
    .is-wrapper  .is-boxed-layout .is-container { padding:30px; } /* 60px */
}
@media all and (max-width: 1024px) {
    .is-wrapper  .is-boxed-layout .is-container { padding:30px; }

    .is-wrapper .is-boxed-layout .is-overlay {display:none !important;}
    .is-wrapper .is-boxed-layout  {background: #fff !important;}
}

/* Default Layout */

/* Middle */
.is-wrapper .is-box .is-container { margin-top:80px; margin-bottom:80px; }
@media all and (max-width: 1280px) {
    .is-wrapper .is-box .is-container { margin-top:40px; margin-bottom:40px; }
}

/* Top
.is-wrapper > div:first-child .is-box:first-child .is-container { margin-top:120px; }
@media all and (max-width: 1280px) {
    .is-wrapper > div:first-child .is-box:first-child .is-container { margin-top:80px; }
}  */
/*
@media all and (max-width: 1024px) {
    .is-wrapper .is-box  .is-container {
        padding:40px;
    }
    .is-wrapper > div:first-child .is-box:first-child .is-container { padding-top:80px !important; }
}    */


/* Scroll Down Icon */
.is-arrow-down { display: table; position:absolute;bottom:65px;width:50px;height:50px;left:50%;margin-left:-25px;cursor:pointer;z-index:1 }
@media all and (max-width: 1025px) {
	.is-arrow-down { display:none !important; }
}
.is-arrow-down > a {
	background: rgba(0, 0, 0, 0.18); border-radius: 500px;
	color: rgba(255, 255, 255, 0.75);font-size: 22px; text-decoration:none;
	text-align: center;
    display: table-cell;
    vertical-align: middle;}
.bounce {
	-moz-animation: bounce 5s forwards;
	-webkit-animation: bounce 5s forwards;
	animation: bounce 5s forwards;
}
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% { -moz-transform: translateY(0); }
	40% { -moz-transform: translateY(-30px); }
	60% { -moz-transform: translateY(-15px); }
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% { -webkit-transform: translateY(0); }
	40% { -webkit-transform: translateY(-30px); }
	60% { -webkit-transform: translateY(-15px); }
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); }
	40% { -webkit-transform: translateY(-30px); -moz-transform: translateY(-30px); -ms-transform: translateY(-30px); -o-transform: translateY(-30px); transform: translateY(-30px);	}
	60% { -webkit-transform: translateY(-15px); -moz-transform: translateY(-15px); -ms-transform: translateY(-15px); -o-transform: translateY(-15px); transform: translateY(-15px); }
}
.is-arrow-down.light a {
    background: rgba(255, 255, 255, 0.18);color: #111;
}

/* Overlay */
.is-overlay {
    position:absolute;left:0px;top:0px;width:100%;height:100%;
    overflow:hidden;
    /*z-index:1;*/
}
/*.is-boxes, .is-box-centered {z-index:1}*/
.is-overlay .is-overlay-bg {
    position:absolute;left:0px;top:0px;width:100%;height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 60%;
}
.is-overlay .is-overlay-bg.is-bg-topleft{
	background-position:top left;
}
.is-overlay .is-overlay-bg.is-bg-topcenter{
	background-position:top center;
}
.is-overlay .is-overlay-bg.is-bg-topright{
	background-position:top right;
}
.is-overlay .is-overlay-bg.is-bg-middleleft{
	background-position:center left;
}
.is-overlay .is-overlay-bg.is-bg-middlecenter{
	background-position:50% 60%;
}
.is-overlay .is-overlay-bg.is-bg-middleright{
	background-position:center right;
}
.is-overlay .is-overlay-bg.is-bg-bottomleft{
	background-position:bottom left;
}
.is-overlay .is-overlay-bg.is-bg-bottomcenter{
	background-position:bottom center;
}
.is-overlay .is-overlay-bg.is-bg-bottomright{
	background-position:bottom right;
}
.is-overlay .is-overlay-bg.is-scale-animated.is-appeared {
    animation:is-scale 10s ease forwards;
    -ms-animation:is-scale 10s ease forwards;
    -webkit-animation:is-scale 10s ease forwards;
    -o-animation:is-scale 10s ease forwards;
    -moz-animation:is-scale 10s ease forwards;
}
@keyframes is-scale {
    from {
  	    transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -moz-transform: scale(1);
    }
    to {
  	    transform: scale(1.2);
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -moz-transform: scale(1.2);
    }
}
.is-overlay .is-overlay-color {
    position:absolute;left:0px;top:0px;width:100%;height:100%;
    background-color: rgb(0, 0, 0);opacity: 0.15;
}
.is-overlay .is-overlay-content {
    position:absolute;left:0px;top:0px;width:100%;height:100%;
    overflow:hidden;
}

/* Section & Content Styles */

/* Background Color */
.is-bg-grey {background-color:#eeeff0 !important}
.is-bg-dark {background-color:#111 !important}
.is-bg-light {background-color:#fff !important}

/* Text Color */
.is-light-text, .is-light-text h1, .is-light-text h2, .is-light-text h3, .is-light-text, h4, .is-light-text h5, .is-light-text h6, .is-light-text p, .is-light-text li {
    color: #fff;
}

/*
.is-light-text .is-arrow-down a {
    background: rgba(255, 255, 255, 0.18);
}
*/

.is-dark-text, .is-dark-text h1, .is-dark-text h2, .is-dark-text h3, .is-dark-text, h4, .is-dark-text h5, .is-dark-text h6, .is-dark-text p, .is-dark-text li {
    color: #111;
}

/*
.is-dark-text .is-arrow-down a {
    background: rgba(0, 0, 0, 0.18);
}
*/

.is-dark-text .is-light-text * {color: #fff;}
.is-light-text .is-dark-text * {color: #000;}

/* Vertical Alignment */
.is-content-top {
    align-self: flex-start;
}
.is-content-bottom {
    align-self: flex-end;
}

/* Horizontal Alignment */
.is-container.is-content-left {
    margin-left:0px;
}
.is-container.is-content-right {
    margin-right:0px;
}

@media all and (max-width: 1200px) {
    .is-container.is-content-left {
        margin-left:0px
    }
    .is-container.is-content-right {
        margin-right:0px;
    }
}
@media all and (max-width: 960px) {
    .is-container.is-content-left {
        margin-left:auto;
    }
    .is-container.is-content-right {
        margin-right:auto;
    }
}

.is-box-5 .is-content-left, .is-box-4 .is-content-left, .is-box-3 .is-content-left, .is-box-2 .is-content-left, .is-box-1 .is-content-left {
    margin-left:auto
}
.is-box-5 .is-content-right, .is-box-4 .is-content-right, .is-box-3 .is-content-right, .is-box-2 .is-content-right, .is-box-1 .is-content-right {
    margin-right:auto;
}

/* Edge Spacing */
.is-wrapper .is-box .edge-y--5 .is-container { margin-top:-200px; }
.is-wrapper .is-box .edge-y--5 .is-container { margin-bottom:-200px; }

.is-wrapper .is-box .edge-y--4 .is-container { margin-top:-160px; }
.is-wrapper .is-box .edge-y--4 .is-container { margin-bottom:-160px; }

.is-wrapper .is-box .edge-y--3 .is-container { margin-top:-120px; }
.is-wrapper .is-box .edge-y--3 .is-container { margin-bottom:-120px; }

.is-wrapper .is-box .edge-y--2 .is-container { margin-top:-80px; }
.is-wrapper .is-box .edge-y--2 .is-container { margin-bottom:-80px; }

.is-wrapper .is-box .edge-y--1 .is-container { margin-top:-40px; }
.is-wrapper .is-box .edge-y--1 .is-container { margin-bottom:-40px; }

.is-wrapper .is-box .edge-y-0  .is-container { margin-top:0;margin-bottom:0; }
.is-wrapper .is-box .edge-y-0 .is-container { margin-bottom:0;margin-top:0; }

.is-wrapper .is-box .edge-y-1  .is-container { margin-top:40px; }
.is-wrapper .is-box .edge-y-1 .is-container { margin-bottom:40px; }

.is-wrapper .is-box .edge-y-2  .is-container { margin-top:80px; }
.is-wrapper .is-box .edge-y-2 .is-container { margin-bottom:80px; }

.is-wrapper .is-box .edge-y-3  .is-container { margin-top:120px; }
.is-wrapper .is-box .edge-y-3 .is-container { margin-bottom:120px; }

.is-wrapper .is-box .edge-y-4  .is-container { margin-top:160px; }
.is-wrapper .is-box .edge-y-4 .is-container { margin-bottom:160px; }

.is-wrapper .is-box .edge-y-5  .is-container { margin-top:200px; }
.is-wrapper .is-box .edge-y-5 .is-container { margin-bottom:200px; }

@media all and (max-width: 960px) {
    .is-wrapper .is-box .edge-y--5 .is-container { margin-top:-200px; }
    .is-wrapper .is-box .edge-y--5 .is-container { margin-bottom:-200px; }

    .is-wrapper .is-box .edge-y--4 .is-container { margin-top:-160px; }
    .is-wrapper .is-box .edge-y--4 .is-container { margin-bottom:-160px; }

    .is-wrapper .is-box .edge-y--3 .is-container { margin-top:-120px; }
    .is-wrapper .is-box .edge-y--3 .is-container { margin-bottom:-120px; }

    .is-wrapper .is-box .edge-y--2 .is-container { margin-top:-80px; }
    .is-wrapper .is-box .edge-y--2 .is-container { margin-bottom:-80px; }

    .is-wrapper .is-box .edge-y--1 .is-container { margin-top:-20px; }
    .is-wrapper .is-box .edge-y--1 .is-container { margin-bottom:-40px; }

    .is-wrapper .is-box .edge-y-1  .is-container { margin-top:40px; } /* old: 0px */
    .is-wrapper .is-box .edge-y-1 .is-container { margin-bottom:40px; }

    .is-wrapper .is-box .edge-y-2  .is-container { margin-top:40px; }
    .is-wrapper .is-box .edge-y-2 .is-container { margin-bottom:40px; }

    .is-wrapper .is-box .edge-y-3  .is-container { margin-top:40px; }
    .is-wrapper .is-box .edge-y-3 .is-container { margin-bottom:40px; }

    .is-wrapper .is-box .edge-y-4  .is-container { margin-top:40px; }
    .is-wrapper .is-box .edge-y-4 .is-container { margin-bottom:40px; }

    .is-wrapper .is-box .edge-y-5  .is-container { margin-top:40px; }
    .is-wrapper .is-box .edge-y-5 .is-container { margin-bottom:40px; } /* old: 0px */
}

.is-content-left.edge-x-0 { margin-left:0 }
.is-content-right.edge-x-0 { margin-right:0 }

.is-content-left.edge-x-1 { margin-left:40px }
.is-content-right.edge-x-1 { margin-right:40px }

.is-content-left.edge-x-2 { margin-left:80px }
.is-content-right.edge-x-2 { margin-right:80px }

.is-content-left.edge-x-3 { margin-left:120px }
.is-content-right.edge-x-3 { margin-right:120px }

.is-content-left.edge-x-4 { margin-left:160px }
.is-content-right.edge-x-4 { margin-right:160px }

.is-content-left.edge-x-5 { margin-left:200px }
.is-content-right.edge-x-5 { margin-right:200px }

@media all and (max-width: 960px) {
    .is-content-left.edge-x-1 { margin-left:auto }
    .is-content-right.edge-x-1 { margin-right:auto }

    .is-content-left.edge-x-2 { margin-left:auto }
    .is-content-right.edge-x-2 { margin-right:auto }

    .is-content-left.edge-x-3 { margin-left:auto }
    .is-content-right.edge-x-3 { margin-right:auto }

    .is-content-left.edge-x-4 { margin-left:auto }
    .is-content-right.edge-x-4 { margin-right:auto }

    .is-content-left.edge-x-5 { margin-left:auto }
    .is-content-right.edge-x-5 { margin-right:auto }
		.is-boxes {
		    flex-wrap: wrap;
		}
}

/* Text Alignment */
.is-align-right {
    text-align:right;
}
.is-align-center {
    text-align:center;
}
.is-align-left {
    text-align:left;
}

/* Text Opacity */
.is-opacity-20, .is-opacity-20 .is-container {
    opacity: 0.2;
}
.is-opacity-25, .is-opacity-25 .is-container {
    opacity: 0.25;
}
.is-opacity-30, .is-opacity-30 .is-container {
    opacity: 0.3;
}
.is-opacity-35, .is-opacity-35 .is-container {
    opacity: 0.35;
}
.is-opacity-40, .is-opacity-40 .is-container {
    opacity: 0.4;
}
.is-opacity-45, .is-opacity-45 .is-container {
    opacity: 0.45;
}
.is-opacity-50, .is-opacity-50 .is-container {
    opacity: 0.5;
}
.is-opacity-55 .is-container {
    opacity: 0.55;
}
.is-opacity-60, .is-opacity-60 .is-container {
    opacity: 0.6;
}
.is-opacity-65, .is-opacity-65 .is-container {
    opacity: 0.65;
}
.is-opacity-70, .is-opacity-70 .is-container {
    opacity: 0.7;
}
.is-opacity-75, .is-opacity-75 .is-container {
    opacity: 0.75;
}
.is-opacity-80, .is-opacity-80 .is-container {
    opacity: 0.8;
}
.is-opacity-85, .is-opacity-85 .is-container {
    opacity: 0.85;
}
.is-opacity-90, .is-opacity-90 .is-container {
    opacity: 0.9;
}
.is-opacity-95, .is-opacity-95 .is-container  {
    opacity: 0.95;
}


/* Content Size */
.is-content-380 {
    max-width: 380px !important;
}
.is-content-500 {
    max-width: 500px !important;
}
.is-content-640 {
    max-width: 640px !important;
}
.is-content-800 {
    max-width: 800px !important;
}
.is-content-970 {
    max-width: 970px !important;
}
.is-content-980 {
    max-width: 980px !important;
}
.is-content-1050 {
    max-width: 1050px !important;
}
.is-content-1100 {
    max-width: 1100px !important;
}
.is-content-1200 {
    max-width: 1200px !important;
}
.is-content-100 {
    max-width: 100% !important;
}

/* Section Height */
.is-wrapper > div.is-section-20 {
    height: 20%;
}
.is-wrapper > div.is-section-30 {
    height: 30%;
}
.is-wrapper > div.is-section-40 {
    height: 40%;
}
.is-wrapper > div.is-section-50 {
    height: 50%;
}
.is-wrapper > div.is-section-60 {
    height: 60%;
}
.is-wrapper > div.is-section-75 {
    height: 75%;
}
.is-wrapper > div.is-section-100 {
    height: 100%;
}
.is-wrapper > div.is-section-auto {
    height: auto;
}

/* Others */
.is-opacity-1 {
    opacity:0.95;
}
.is-shadow-1 { /* for section */
    -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.07);
}

.is-lightbox img {cursor:pointer;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
	}
.is-lightbox img:hover {opacity:0.8}

.is-hidden {display:none !important;}

.spacer.height-80{
	min-height: 80px;
}
.spacer.height-40{
	min-height: 40px;
}

.margin-tb--5{
	margin-top: -50px;
	margin-bottom: -50px;
}
.margin-tb--4{
	margin-top: -40px;
	margin-bottom: -40px;
}
.margin-tb--3{
	margin-top: -30px;
	margin-bottom: -30px;
}
.margin-tb--2{
	margin-top: -20px;
	margin-bottom: -20px;
}
.margin-tb--1{
	margin-top: -10px;
	margin-bottom: -10px;
}
.margin-tb-0{
	margin-top: 0px;
	margin-bottom: 0px;
}
.margin-tb-1{
	margin-top: 10px;
	margin-bottom: 10px;
}
.margin-tb-2{
	margin-top: 20px;
	margin-bottom: 20px;
}
.margin-tb-3{
	margin-top: 30px;
	margin-bottom: 30px;
}
.margin-tb-4{
	margin-top: 40px;
	margin-bottom: 40px;
}
.margin-tb-5{
	margin-top: 50px;
	margin-bottom: 50px;
}
.margin-lr--5{
	margin-left: -50px;
	margin-right: -50px;
}
.margin-lr--4{
	margin-left: -40px;
	margin-right: -40px;
}
.margin-lr--3{
	margin-left: -30px;
	margin-right: -30px;
}
.margin-lr--2{
	margin-left: -20px;
	margin-right: -20px;
}
.margin-lr--1{
	margin-left: -10px;
	margin-right: -10px;
}
.margin-lr-0{
	margin-left: 0px;
	margin-right: 0px;
}
.margin-lr-1{
	margin-left: 10px;
	margin-right: 10px;
}
.margin-lr-2{
	margin-left: 20px;
	margin-right: 20px;
}
.margin-lr-3{
	margin-left: 30px;
	margin-right: 30px;
}
.margin-lr-4{
	margin-left: 40px;
	margin-right: 40px;
}
.margin-lr-5{
	margin-left: 50px;
	margin-right: 50px;
}

.padding-tb-0{
	padding-top: 0px;
	padding-bottom: 0px;
}
.padding-tb-1{
	padding-top: 10px;
	padding-bottom: 10px;
}
.padding-tb-2{
	padding-top: 20px;
	padding-bottom: 20px;
}
.padding-tb-3{
	padding-top: 30px;
	padding-bottom: 30px;
}
.padding-tb-4{
	padding-top: 40px;
	padding-bottom: 40px;
}
.padding-tb-5{
	padding-top: 50px;
	padding-bottom: 50px;
}
.padding-lr-0{
	padding-left: 0px;
	padding-right: 0px;
}
.padding-lr-1{
	padding-left: 10px;
	padding-right: 10px;
}
.padding-lr-2{
	padding-left: 20px;
	padding-right: 20px;
}
.padding-lr-3{
	padding-left: 30px;
	padding-right: 30px;
}
.padding-lr-4{
	padding-left: 40px;
	padding-right: 40px;
}
.padding-lr-5{
	padding-left: 50px;
	padding-right: 50px;
}
