
.inline{
	display: inline-block;
	vertical-align: middle;
}
p{
	margin: 0;
}

p.inline{
	padding-left: 10px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

.divider{
	border-top: 1px solid #373737;
	margin-bottom: 20px;
}

/*=====================*/
/*===== SIDE MENU =====*/
/*=====================*/

aside{
    font-family: 'Dosis', sans-serif;
	color: #636363;
    background-color: transparent;
    width: 300px;
    bottom: 20px;
    position: absolute;
    left: -300px;
    right: auto;
    top: 0;
    z-index: 99;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.main{
	transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
aside.show{
    left: 10px;
    display: block;
	background-color: #36404a;
}
aside.show + .main{
	padding-left: 300px;
    overflow-x: auto;
    overflow-y: hidden;
}
aside a, aside a:hover{
    font-family: 'Dosis', sans-serif;
    color: #FFF;
    text-decoration: none;
}

aside a:hover, aside a:focus{
    color: #d1282d;
}

.nav-title{
    background-color: #101010;
    padding: 20px 0 20px 0;
}

.nav-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 40px;
}

.nav-title p, .nav-title h1{
    color: #636363;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.nav-title p{
    font-size: 14px;
}

.nav-title h1{
    font-weight: 200;
    font-size: 34px;
}

.nav-content{
    padding:20px;
	width: 300px !important;
	display: block !important;
	height: 100% !important;
}

.nav-comp{
    margin-bottom: 20px;
}

.nav-comp h1{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 16px;
	color: #d2d2d2;
	font-weight: 500;
}

.toggle{
    color:#5fbeaa;
    font-size: 31px;
    position: absolute;
    top: 20px;
    right: -55px;
    cursor: pointer;
}

.toggle:hover{
    opacity: .7;
}

.mode{
    font-family: 'Dosis', sans-serif;
    color:#666;
    font-size: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.owl-fonts .owl-item{
	font-size: 30px;
	line-height: 1;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}


.wrapper{
    margin: 0 auto;
	padding-top:50px;
    min-width: 1170px;
}



.btn-add{
    width: 100%;
    color: #FFF;
    background-color: #353535;
}

.btn-feature {
    background-color: #353535;
    color: #fff;
    font-size: 16px;
    padding: 1px 1px 4px;
    width: 100%;
}

.btn-generate{
    width: 100%;
    color: #FFF;
    background-color: #E84C3D;
}

.btn-generate:hover{
    color: #FFF;
    background-color: #EB6154;
}

.color-square{
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-right: 12px;
}

.color-square:last-child{
	margin-right: 0px;
}

.item-colors{
	padding: 16px;
}

.nav-disabled {
    opacity: 0.9;
    background: #000;
}


/*==================*/
/*=== PTC TABLES ===*/
/*==================*/

.main{
	position: relative;
}

.selected-item {
  height: 15px;
  left: 0;
  position: absolute;
  width: 100%;
}

.preview-mode .selected-item {
    display: none;
}

.preview-mode .wrapper{
    min-width: 95% !important;
}

.preview-mode .wrapper .ptc-edit{
    min-width: 95% !important;
}

.c-bottom{
	border: 1px solid #505050;
	border-top: none;
    bottom: 83px;
}

.c-top{
	border: 1px solid #505050;
	border-bottom: none;
    top: -15px;
}


@keyframes jump {
    0% {
        top: -60px;
    }
    50% {
        top: -50px;
        border-top: 20px solid #3a3a3a;
    }
    100% {
        top: -60px;
    }
}

.flex{
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.remove-item {
	bottom: -50px;
	font-size: 34px;
	left: 50%;
	margin-left: -13px;
	opacity: 0;
	position: absolute;
	text-align: center;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.ptc-table:hover .remove-item, .ptc-table:hover .handle {
    opacity: 1;
}

.handle{
    opacity: 0;
    width: 64px;
    height: 53px;
    position: absolute;
    top: -52px;
    left: 50%;
    margin-left: -32px;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.handle:hover {
    cursor: move;
}

.handle-bg{
	width: 64px;
    height: 24px;
	background-color: #404040;
	color:#222222;
    text-align: center;
}

.handle-bg i{
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
	font-size: 14px;
	line-height: 1.7;
	color: #ffffff;
}

.remove-item i, .remove-feature i , .add-feature i{
    color: #525252;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    cursor: pointer;
}

.remove-feature i {
    color: #bababa;
}


.remove-feature i:hover, .add-feature i:hover {
    color: #b4b4b4;
}

.ptc-feature{
    position: relative;
}

.remove-feature, .add-feature {
    opacity: 0;
    position: absolute;
    top: 6px;
}

.remove-feature {
    font-size: 21px;
    left: 10px;
}

.add-feature {
    font-size: 23px;
    right: 10px;
}

.rounded .remove-feature{
    right: 10px !important;
    left: auto;
}

li.ptc-feature:first-child .remove-feature, li.ptc-feature:first-child .add-feature {
    padding-top: 10px;
}


/* Toggle Button */

.onoffswitch {
    position: relative;
	width: 100px;
    -webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
	overflow: hidden;
	cursor: pointer;
	border-radius: 0px;
}

.onoffswitch-inner {
    display: block;
	width: 200%;
	margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
	float: left;
	width: 50%;
	height: 41px;
	padding: 0;
	line-height: 41px;
    font-size: 16px;
	color: white;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 18px;
    background-color: #2D2D2D;
	color: #EBB52D;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 18px;
    background-color: #2D2D2D;
	color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 41px; margin: 0px;
    background: #060606;
    position: absolute;
	top: 0;
	bottom: 0;
	right: 63px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #EBB52D;
}


/*=====================*/
/*=== CUSTOM SELECT ===*/
/*=====================*/

.sbHolder{
    background-color: #2d2d2d;
    font-size: 14px;
    font-weight: normal;
    height: 33px;
    position: relative;
    width: 100%;
}
.sbHolder:focus .sbSelector{

}
.sbSelector{
    display: block;
    height: 30px;
    left: 0;
    line-height: 30px;
    outline: none;
    overflow: hidden;
    position: absolute;
    text-indent: 10px;
    top: 0;
    width: 100%
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
    color: #EBB52D;
    outline: none;
    text-decoration: none;
}
.sbToggle{
    background: url(../img/select-icons.png) 0 -116px no-repeat;
    display: block;
    height: 30px;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}
.sbToggle:hover{
    background: url(../img/select-icons.png) 0 -167px no-repeat;
}
.sbToggleOpen{
    background: url(../img/select-icons.png) 0 -16px no-repeat;
}
.sbToggleOpen:hover{
    background: url(../img/select-icons.png) 0 -66px no-repeat;
}
.sbHolderDisabled{
    background-color: #3C3C3C;
    border: solid 1px #515151;
}
.sbHolderDisabled .sbHolder{

}
.sbHolderDisabled .sbToggle{

}
.sbOptions{
    background-color: #272727;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 99;
    overflow-y: auto;
}

.sbOptions a{
    display: block;
    outline: none;
    padding: 7px 10px;
}

.sbOptions a:link, .sbOptions a:visited{
    color: #ddd;
    text-decoration: none;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
    color: #EBB52D;
    background-color: #212121;
}
.sbOptions li.last a{
    border-bottom: none;
}
.sbOptions .sbDisabled{
    border-bottom: dotted 1px #515151;
    color: #999;
    display: block;
    padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
    border-bottom: dotted 1px #515151;
    color: #EBB52D;
    display: block;
    font-weight: bold;
    padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
    padding-left: 17px;
}

/*=====================*/
/*=== CUSTOM MODALS ===*/
/*=====================*/

.jqifade{
    position: absolute;
    background-color: #000;
}
div.jqi{
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    width: 700px;
    max-width:90%;
    position: absolute;
    background-color: #ffffff;
    font-size: 11px;
    text-align: left;
    padding: 7px;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

div.jqi .jqiclose{
    display: none;
    position: absolute;
    top: 4px;
    right: -2px;
    width: 18px;
    cursor: pointer;
    color: #bbbbbb;
    font-weight: bold;
}
div.jqi .jqistate{
    background-color: #fff;
}
div.jqi .jqititle {
  border-bottom: 1px solid #eeeeee;
  color: #333;
  font-size: 25px;
  padding: 5px 20px 10px 10px;
  text-align: center;
}
div.jqi .jqimessage {
    color: #444444;
    font-size: 20px;
    padding: 30px;
    text-align: center;
}
div.jqi .jqibuttons{
    margin: 0 -7px -7px -7px;
}
div.jqi .jqibuttons button{
    cursor: pointer;
    font-family: inherit;
    margin: 0;
    padding: 15px 20px;
    background-color: transparent;
    font-weight: 500;
    border: none;
    color: #FFF;
    font-size: 21px;
    width: 50%;
    text-transform: uppercase;
}
#jqi_state0_buttonCancel{
    background-color: #d56363;
}
#jqi_state0_buttonCancel:hover{
    background-color: #f05754;
}
#jqi_state0_buttonContinue{
    background-color: #89a073;
}
#jqi_state0_buttonContinue:hover{
    background-color: #8db665;
}
#jqi_state0_buttonOk{
	width: 100%;
    background-color: #58b7e3;
}
#jqi_state0_buttonOk:hover{
    background-color: #439ac2;
}

div.jqi .jqibuttons button.jqidefaultbutton{
    color: #FFF;
}
div.jqi .jqibuttons button:focus{
    color: #FFF;
    outline: none;
}


.jqiwarning .jqi{
    background-color: #f05754;
}

/* sub states */
div.jqi .jqiparentstate::after{
    background-color: #000;
    opacity: 0.84;
    filter: alpha(opacity=80);
    content: '';
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
div.jqi .jqisubstate{
    position: absolute;
    top:0;
    left: 20%;
    width: 60%;
    padding: 7px;
    border: solid 1px #eeeeee;
    border-top: none;
}
div.jqi .jqisubstate .jqibuttons button{
    padding: 10px 18px;
}

div.jqi input{
    font-family: 'Dosis', sans-serif;
	background: #FFF;
	padding: 10px;
	font-size: 20px;
	color: #b3b3b3;
	border: 1px solid #d2d2d2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 100%;
	margin-bottom: 10px;
}

div.jqi input[type="radio"], div.jqi label{
	display: inline-block;
	width: auto;
}

div.jqi label{
	padding-top: 10px;
	padding-right: 10px;
}

.fonts-list{
	padding: 0;
	margin: 0;
	list-style-type: none;
}


/*=====================*/
/*==== ICON WINDOW ====*/
/*=====================*/



.icon-set li {
	display: inline-block;
	list-style-type: none;
	padding: 5px;
	text-align: center;
	width: 29px;
}

.icon-set li:hover{
	color: #FFF;
	background-color: #333;
}

#scrollbox {
    font-family: 'FontAwesome';
	margin: 0;
    overflow: auto;
    height: 110px;
	width: 260px !important;
    padding: 0 5px;
	display: none;
}


.track {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
	transition: background 250ms linear;
    -o-transition: background 250ms linear;
    -moz-transition: background 250ms linear;
    -webkit-transition: background 250ms linear;
}

.track:hover,
.track.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.handler {
    width: 7px;
    right: 0;
    background: #ebeff2;
    border-radius: 7px;
	transition: width 250ms;
    -o-transition: width 250ms;
    -moz-transition: width 250ms;
    -webkit-transition: width 250ms;
	border:1px solid #000000;
}

.track:hover .handler,
.track.dragging .handler {
    width: 10px;
}



.track-hor {
    height: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    transition: background 250ms linear;
    -o-transition: background 250ms linear;
    -moz-transition: background 250ms linear;
    -webkit-transition: background 250ms linear;
}

.handler-hor {
    height: 7px;
    right: 0;
    background: #2D2D2D;
    border-radius: 7px;
}


/* Picker */

.creator-picker-bg{
	bottom: 20px;
	cursor: pointer;
	height: 30px !important;
	position: absolute;
	right: 20px;
	width: 30px !important;
	border: 1px solid #666;
}

.creator-picker-hue{
	cursor: pointer;
	height: 30px !important;
	width: 30px !important;
}

.ui-tooltip {
	padding: 10px 20px;
	color: white;
	width: 300px;
	background: red;
	position: absolute;
	top: 0 !important;
	left: 300px !important;
}

.ptc-code {
    display: none;
    width: 100%;
}

code{
    width: 2000px;
}

.gen-html, .gen-css, .gen-include {
    background: #1c1c1c;
    border: 1px solid #373737;
    padding: 20px;
    height: 600px;
    overflow: auto;
    margin-bottom: 20px;
}

.gen-include{
    height: 120px
}

.hover-select{
    display: none;
}

.tip{
    font-family: 'Dosis', sans-serif;
    position: absolute;
    top: 30px;
    text-align: center;
    width: 100%;
    color: #666;
}

.installation{
    font-family: 'Dosis', sans-serif;
    color: #969696;
    padding: 20px 0;
    font-size: 20px;
}

.installation a{
    color: #666;
    text-decoration: none;
}

.installation a:hover{
    color: #969696;
}

.installation p{
    line-height: 1.8;
}

.installTip{
    font-style: italic;
    font-size: 16px;
    color: #4f4f4f;
}
.owl-theme .owl-dots{
	display: none !important;
}

@media (min-width: 768px) {
    .wrapper {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .wrapper {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .wrapper {
        width: 80%;
    }
}
