/*

PRICING TABLES CREATOR by Sqra
http://themeforest.net/user/Sqra

*/


/* -------------------------------------------- */
/* -------------- PRICING TABLES -------------- */
/* -------------------------------------------- */

.ptc-tables{
    position: relative;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
    color: #FFF;
}

.ptc-table{
    margin-bottom: 30px;
    z-index: 1 !important;
}

.ptc-table:hover{
    z-index: 10 !important;
}

.ptc-table.ptc-no-space{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ptc-no-space .ptc-features, .ptc-no-space .ptc-footer{
    border-right: 1px solid #d2d2d2 !important;
}

.ptc-no-space.ptc-zoom .ptc-features, .ptc-no-space.ptc-zoom .ptc-footer{
    border-right: none !important;
}

.ptc-table:last-child.ptc-no-space .ptc-features, .ptc-table:last-child.ptc-no-space .ptc-footer{
    border-right: none !important;
}

/* +++ Header Elements +++ */

.ptc-header{
    padding: 13px 10px;
    position: relative;
}

.ptc-arrow-down{
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    height: 0;
    margin-left: -4px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    z-index: 1;
}

.ptc-arrow-down.ptc-first, .ptc-arrow-down.ptc-second{
    border-top-width: 5px;
    border-top-style: solid;
}

.ptc-note-exposed {
    border-left: 45px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    margin-left: -4px;
    z-index: 1;
}

.ptc-note-fold {
    border-top: 45px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    margin-left: -4px;
    z-index: 1;
}

.ptc-note-icon {
    font-size: 1.8em;
    height: 30px;
    line-height: 2;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    z-index: 2;
}

.ptc-title{
    margin: 0;
    padding: 0;
    font-size: 2.6em;
    text-transform: uppercase;
}

.ptc-stars{
    font-size: 10px;
    padding-bottom: 5px;
}

.ptc-stars span{
    padding: 0 1px;
}

.ptc-text{
    font-size: 1.4em;
    padding-top: 5px;
    margin: 0;
}

.ptc-button{
    margin-top: 15px;
    display: inline-block;
    background: transparent;
    padding: 10px 30px;
    color: #FFF;
    font-size: 2.1em;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid rgba(255,255,255,1);
    background-color: rgba(255,255,255,0.08);
    width: auto;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.ptc-button:hover, .ptc-button:focus {
    border-color: rgba(255,255,255,0);
}

/* Content Elements */

.ptc-content{
    color: #828282;
    background-color: #FFF;
}

.ptc-content ul, .ptc-content li{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li.ptc-feature{
    margin: 0 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d7d7d7;
    font-size: 1.6em;
}

li.ptc-feature:first-child{
    padding-top: 10px;
}

li.ptc-feature:last-child{
    border-bottom: none;
    padding-bottom: 10px;
}

.ptc-content a{
    color: #828282;
    display: block;
    padding: 10px;
    text-decoration :none;
    cursor: default;
}

.ptc-content a:hover{
    color: #292929;
}

.ptc-price sup{
    vertical-align: super;
}

.ptc-currency{
    font-size: 0.4em;
    padding-right: 5px;
}

.ptc-total{
    font-size: 9.0em;
    line-height: 0.9;
}

.ptc-small .ptc-total{
    font-size: 6.5em;
}

.ptc-smaller .ptc-total{
    font-size: 5.7em;
}

.ptc-price, .ptc-footer{
    position: relative;
    padding: 20px 10px;
}

.ptc-footer{
    color: #828282;
    background-color: #FFF;
}

.ptc-footer .ptc-button{
    color: #FFF;
    margin: 5px 0 20px 0;
}

.ptc-zoom{
    -ms-transform: scale(1) !important;
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
    z-index: 5 !important;
}

.ptc-zoom.ptc-no-space{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.ptc-show{
    display: block;
}

.ptc-show-inline{
    display: inline-block;
}

.ptc-hide{
    display: none;
}


@media  (min-width: 768px) {
    div.col-sm-7.five-three {
        width: 60% !important;
    }

    div.col-sm-5.five-two {
        width: 40% !important;
    }
}

.col-xs-2-4, .col-sm-2-4, .col-md-2-4, .col-lg-2-4 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-2-4 {
    width: 100%;
}


@media (min-width: 768px) {

    .col-sm-2-4 {
        float: left;
        width: 33.33333333%;
    }

}
@media (min-width: 992px) {

    .col-md-2-4 {
        float: left;
        width: 20%;
    }


}

@media (min-width: 1200px) {
    .col-lg-2-4 {
        float: left;
        width: 20%;
    }

    .ptc-zoom{
        -ms-transform: scale(1.1) !important;
        -webkit-transform: scale(1.1) !important;
        transform: scale(1.1) !important;
    }

}

/* -------------------------------------------- */
/* -------------- ROUNDED STYLES -------------- */
/* -------------------------------------------- */

.rounded.ptc-tables{
    text-align: left;
}

.rounded .ptc-header{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 15px;
}

.rounded .ptc-stars{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 0;
}

.rounded .ptc-content{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
}

.rounded .ptc-footer {
    margin: 0;
    padding: 0;
    background: transparent;
    margin-top: 10px;
}

.rounded .ptc-button{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.rounded .ptc-footer .ptc-button{
    border: 0;
    margin: 0;
    width: 100%;
}

.rounded .ptc-footer .ptc-button:hover{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.rounded .ptc-no-space .ptc-features, .rounded .ptc-no-space .ptc-footer{
    border: none !important;
}

.rounded .ptc-note-exposed, .rounded .ptc-note-fold {
    display: none;
}

.rounded .ptc-note-icon {
    font-size: 6em;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity:0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    width: auto;
    height: auto;
    line-height: 0;
}


/* -------------------------------------------- */
/* -------------- PLAIN STYLES ---------------- */
/* -------------------------------------------- */


.plain .ptc-title{
    padding-bottom: 10px;
}

.plain .ptc-small .ptc-header, .plain .ptc-smaller .ptc-header{
    height: 150px;
    padding-top: 25px;
}

.plain .ptc-header {
    height: 226px;
    padding-top: 25px;
}

.plain .ptc-stars {
    font-size: 11px;
    left: 15px;
    position: absolute;
    top: 15px;
}

.plain .ptc-stars span{
    display: block;
    padding: 0 0 3px 0;
}



.plain .ptc-price{
    display: inline-block;

    line-height: 0;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    left: 50%;
    margin-left: -123px;
    position: absolute;
    top: 65px;
    height: 240px;
    padding: 75px 10px 10px;
    width: 246px;
}


.plain .ptc-small .ptc-total{
    height: 174px;
    padding: 57px 10px 10px;
    width: 180px;
    margin-left: -90px;
}

.plain .ptc-smaller .ptc-total{
    height: 164px;
    padding: 55px 10px 10px;
    width: 170px;
    margin-left: -85px;
}

.plain .ptc-text {
    margin-left: -10px;
    margin-right: -10px;
    position: absolute;
    text-align: center;
    top: 240px;
    width: 100%;
}

.plain .ptc-small .ptc-text, .plain .ptc-smaller .ptc-text {
    width: 100%;
    top: 185px;
}

.plain .ptc-footer{
    padding-top: 100px;
    position: static;
    padding-bottom: 0;
}

.plain .ptc-note-icon {
    font-size: 2.4em;
    margin-right: -20px;
    position: absolute;
    right: 50%;
    top: 80px;
    width: 40px;
}


/* ---------------------------------------------- */
/* -------------- COLOR SCHEMES ----------------- */
/* ---------------------------------------------- */


.original #ptc_1 .ptc-header,
.original #ptc_1 .ptc-footer .ptc-button {
    background-color: #068894;
}
.original #ptc_1 .ptc-note-exposed {
    border-top: 45px solid #05717b;
}
.original #ptc_1 .ptc-note-fold {
    border-left: 45px solid #079fad;
}
.original #ptc_1 .ptc-arrow-down.ptc-first {
    border-top-color: #068894;
}
.original #ptc_1 .ptc-arrow-down.ptc-second {
    border-top-color: #079fad;
}
.original #ptc_1 .ptc-stars {
    color: #08baca;
}
.original #ptc_1 .ptc-price {
    background-color: #079fad;
}
.original #ptc_2 .ptc-header,
.original #ptc_2 .ptc-footer .ptc-button {
    background-color: #e84c3d;
}
.original #ptc_2 .ptc-note-exposed {
    border-top: 45px solid #e53726;
}
.original #ptc_2 .ptc-note-fold {
    border-left: 45px solid #eb6154;
}
.original #ptc_2 .ptc-arrow-down.ptc-first {
    border-top-color: #e84c3d;
}
.original #ptc_2 .ptc-arrow-down.ptc-second {
    border-top-color: #eb6154;
}
.original #ptc_2 .ptc-stars {
    color: #ee7a6f;
}
.original #ptc_2 .ptc-price {
    background-color: #eb6154;
}
.original #ptc_3 .ptc-header,
.original #ptc_3 .ptc-footer .ptc-button {
    background-color: #ebaf3c;
}
.original #ptc_3 .ptc-note-exposed {
    border-top: 45px solid #e9a625;
}
.original #ptc_3 .ptc-note-fold {
    border-left: 45px solid #edb853;
}
.original #ptc_3 .ptc-arrow-down.ptc-first {
    border-top-color: #ebaf3c;
}
.original #ptc_3 .ptc-arrow-down.ptc-second {
    border-top-color: #edb853;
}
.original #ptc_3 .ptc-stars {
    color: #f0c46f;
}
.original #ptc_3 .ptc-price {
    background-color: #edb853;
}
.original #ptc_4 .ptc-header,
.original #ptc_4 .ptc-footer .ptc-button {
    background-color: #736357;
}
.original #ptc_4 .ptc-note-exposed {
    border-top: 45px solid #64574c;
}
.original #ptc_4 .ptc-note-fold {
    border-left: 45px solid #826f62;
}
.original #ptc_4 .ptc-arrow-down.ptc-first {
    border-top-color: #736357;
}
.original #ptc_4 .ptc-arrow-down.ptc-second {
    border-top-color: #826f62;
}
.original #ptc_4 .ptc-stars {
    color: #937f70;
}
.original #ptc_4 .ptc-price {
    background-color: #826f62;
}
.original #ptc_5 .ptc-header,
.original #ptc_5 .ptc-footer .ptc-button {
    background-color: #514051;
}
.original #ptc_5 .ptc-note-exposed {
    border-top: 45px solid #433543;
}
.original #ptc_5 .ptc-note-fold {
    border-left: 45px solid #5f4b5f;
}
.original #ptc_5 .ptc-arrow-down.ptc-first {
    border-top-color: #514051;
}
.original #ptc_5 .ptc-arrow-down.ptc-second {
    border-top-color: #5f4b5f;
}
.original #ptc_5 .ptc-stars {
    color: #705970;
}
.original #ptc_5 .ptc-price {
    background-color: #5f4b5f;
}
.original #ptc_6 .ptc-header,
.original #ptc_6 .ptc-footer .ptc-button {
    background-color: #222122;
}
.original #ptc_6 .ptc-note-exposed {
    border-top: 45px solid #151415;
}
.original #ptc_6 .ptc-note-fold {
    border-left: 45px solid #2f2e2f;
}
.original #ptc_6 .ptc-arrow-down.ptc-first {
    border-top-color: #222122;
}
.original #ptc_6 .ptc-arrow-down.ptc-second {
    border-top-color: #2f2e2f;
}
.original #ptc_6 .ptc-stars {
    color: #3e3d3e;
}
.original #ptc_6 .ptc-price {
    background-color: #2f2e2f;
}
.autumn #ptc_1 .ptc-header,
.autumn #ptc_1 .ptc-footer .ptc-button {
    background-color: #9b5651;
}
.autumn #ptc_1 .ptc-note-exposed {
    border-top: 45px solid #8a4d48;
}
.autumn #ptc_1 .ptc-note-fold {
    border-left: 45px solid #aa615c;
}
.autumn #ptc_1 .ptc-arrow-down.ptc-first {
    border-top-color: #9b5651;
}
.autumn #ptc_1 .ptc-arrow-down.ptc-second {
    border-top-color: #aa615c;
}
.autumn #ptc_1 .ptc-stars {
    color: #b47570;
}
.autumn #ptc_1 .ptc-price {
    background-color: #aa615c;
}
.autumn #ptc_2 .ptc-header,
.autumn #ptc_2 .ptc-footer .ptc-button {
    background-color: #ae695a;
}
.autumn #ptc_2 .ptc-note-exposed {
    border-top: 45px solid #a05d4f;
}
.autumn #ptc_2 .ptc-note-fold {
    border-left: 45px solid #b6796b;
}
.autumn #ptc_2 .ptc-arrow-down.ptc-first {
    border-top-color: #ae695a;
}
.autumn #ptc_2 .ptc-arrow-down.ptc-second {
    border-top-color: #b6796b;
}
.autumn #ptc_2 .ptc-stars {
    color: #c08b80;
}
.autumn #ptc_2 .ptc-price {
    background-color: #b6796b;
}
.autumn #ptc_3 .ptc-header,
.autumn #ptc_3 .ptc-footer .ptc-button {
    background-color: #e89c84;
}
.autumn #ptc_3 .ptc-note-exposed {
    border-top: 45px solid #e48b6f;
}
.autumn #ptc_3 .ptc-note-fold {
    border-left: 45px solid #ecad99;
}
.autumn #ptc_3 .ptc-arrow-down.ptc-first {
    border-top-color: #e89c84;
}
.autumn #ptc_3 .ptc-arrow-down.ptc-second {
    border-top-color: #ecad99;
}
.autumn #ptc_3 .ptc-stars {
    color: #f1c2b3;
}
.autumn #ptc_3 .ptc-price {
    background-color: #ecad99;
}
.autumn #ptc_4 .ptc-header,
.autumn #ptc_4 .ptc-footer .ptc-button {
    background-color: #f5c972;
}
.autumn #ptc_4 .ptc-note-exposed {
    border-top: 45px solid #f3c05a;
}
.autumn #ptc_4 .ptc-note-fold {
    border-left: 45px solid #f7d28a;
}
.autumn #ptc_4 .ptc-arrow-down.ptc-first {
    border-top-color: #f5c972;
}
.autumn #ptc_4 .ptc-arrow-down.ptc-second {
    border-top-color: #f7d28a;
}
.autumn #ptc_4 .ptc-stars {
    color: #f9dda6;
}
.autumn #ptc_4 .ptc-price {
    background-color: #f7d28a;
}
.autumn #ptc_5 .ptc-header,
.autumn #ptc_5 .ptc-footer .ptc-button {
    background-color: #eab06e;
}
.autumn #ptc_5 .ptc-note-exposed {
    border-top: 45px solid #e7a458;
}
.autumn #ptc_5 .ptc-note-fold {
    border-left: 45px solid #edbc84;
}
.autumn #ptc_5 .ptc-arrow-down.ptc-first {
    border-top-color: #eab06e;
}
.autumn #ptc_5 .ptc-arrow-down.ptc-second {
    border-top-color: #edbc84;
}
.autumn #ptc_5 .ptc-stars {
    color: #f1cb9f;
}
.autumn #ptc_5 .ptc-price {
    background-color: #edbc84;
}
.autumn #ptc_6 .ptc-header,
.autumn #ptc_6 .ptc-footer .ptc-button {
    background-color: #c3b274;
}
.autumn #ptc_6 .ptc-note-exposed {
    border-top: 45px solid #bba862;
}
.autumn #ptc_6 .ptc-note-fold {
    border-left: 45px solid #cbbc86;
}
.autumn #ptc_6 .ptc-arrow-down.ptc-first {
    border-top-color: #c3b274;
}
.autumn #ptc_6 .ptc-arrow-down.ptc-second {
    border-top-color: #cbbc86;
}
.autumn #ptc_6 .ptc-stars {
    color: #d4c89b;
}
.autumn #ptc_6 .ptc-price {
    background-color: #cbbc86;
}
.retro #ptc_1 .ptc-header,
.retro #ptc_1 .ptc-footer .ptc-button {
    background-color: #7c786a;
}
.retro #ptc_1 .ptc-note-exposed {
    border-top: 45px solid #6e6b5e;
}
.retro #ptc_1 .ptc-note-fold {
    border-left: 45px solid #8a8576;
}
.retro #ptc_1 .ptc-arrow-down.ptc-first {
    border-top-color: #7c786a;
}
.retro #ptc_1 .ptc-arrow-down.ptc-second {
    border-top-color: #8a8576;
}
.retro #ptc_1 .ptc-stars {
    color: #989486;
}
.retro #ptc_1 .ptc-price {
    background-color: #8a8576;
}
.retro #ptc_2 .ptc-header,
.retro #ptc_2 .ptc-footer .ptc-button {
    background-color: #8cccc0;
}
.retro #ptc_2 .ptc-note-exposed {
    border-top: 45px solid #7ac4b6;
}
.retro #ptc_2 .ptc-note-fold {
    border-left: 45px solid #9ed4ca;
}
.retro #ptc_2 .ptc-arrow-down.ptc-first {
    border-top-color: #8cccc0;
}
.retro #ptc_2 .ptc-arrow-down.ptc-second {
    border-top-color: #9ed4ca;
}
.retro #ptc_2 .ptc-stars {
    color: #b3ddd5;
}
.retro #ptc_2 .ptc-price {
    background-color: #9ed4ca;
}
.retro #ptc_3 .ptc-header,
.retro #ptc_3 .ptc-footer .ptc-button {
    background-color: #bfd174;
}
.retro #ptc_3 .ptc-note-exposed {
    border-top: 45px solid #b6cb61;
}
.retro #ptc_3 .ptc-note-fold {
    border-left: 45px solid #c8d787;
}
.retro #ptc_3 .ptc-arrow-down.ptc-first {
    border-top-color: #bfd174;
}
.retro #ptc_3 .ptc-arrow-down.ptc-second {
    border-top-color: #c8d787;
}
.retro #ptc_3 .ptc-stars {
    color: #d2df9e;
}
.retro #ptc_3 .ptc-price {
    background-color: #c8d787;
}
.retro #ptc_4 .ptc-header,
.retro #ptc_4 .ptc-footer .ptc-button {
    background-color: #fae46f;
}
.retro #ptc_4 .ptc-note-exposed {
    border-top: 45px solid #f9df56;
}
.retro #ptc_4 .ptc-note-fold {
    border-left: 45px solid #fbe988;
}
.retro #ptc_4 .ptc-arrow-down.ptc-first {
    border-top-color: #fae46f;
}
.retro #ptc_4 .ptc-arrow-down.ptc-second {
    border-top-color: #fbe988;
}
.retro #ptc_4 .ptc-stars {
    color: #fceea5;
}
.retro #ptc_4 .ptc-price {
    background-color: #fbe988;
}
.retro #ptc_5 .ptc-header,
.retro #ptc_5 .ptc-footer .ptc-button {
    background-color: #f97a6e;
}
.retro #ptc_5 .ptc-note-exposed {
    border-top: 45px solid #f86456;
}
.retro #ptc_5 .ptc-note-fold {
    border-left: 45px solid #fa9086;
}
.retro #ptc_5 .ptc-arrow-down.ptc-first {
    border-top-color: #f97a6e;
}
.retro #ptc_5 .ptc-arrow-down.ptc-second {
    border-top-color: #fa9086;
}
.retro #ptc_5 .ptc-stars {
    color: #fbaba4;
}
.retro #ptc_5 .ptc-price {
    background-color: #fa9086;
}
.retro #ptc_6 .ptc-header,
.retro #ptc_6 .ptc-footer .ptc-button {
    background-color: #e6bcd8;
}
.retro #ptc_6 .ptc-note-exposed {
    border-top: 45px solid #dfa9cd;
}
.retro #ptc_6 .ptc-note-fold {
    border-left: 45px solid #edcfe3;
}
.retro #ptc_6 .ptc-arrow-down.ptc-first {
    border-top-color: #e6bcd8;
}
.retro #ptc_6 .ptc-arrow-down.ptc-second {
    border-top-color: #edcfe3;
}
.retro #ptc_6 .ptc-stars {
    color: #f5e5f0;
}
.retro #ptc_6 .ptc-price {
    background-color: #edcfe3;
}
.sunset #ptc_1 .ptc-header,
.sunset #ptc_1 .ptc-footer .ptc-button {
    background-color: #f37257;
}
.sunset #ptc_1 .ptc-note-exposed {
    border-top: 45px solid #f15e3f;
}
.sunset #ptc_1 .ptc-note-fold {
    border-left: 45px solid #f5866f;
}
.sunset #ptc_1 .ptc-arrow-down.ptc-first {
    border-top-color: #f37257;
}
.sunset #ptc_1 .ptc-arrow-down.ptc-second {
    border-top-color: #f5866f;
}
.sunset #ptc_1 .ptc-stars {
    color: #f79e8b;
}
.sunset #ptc_1 .ptc-price {
    background-color: #f5866f;
}
.sunset #ptc_2 .ptc-header,
.sunset #ptc_2 .ptc-footer .ptc-button {
    background-color: #f68d5c;
}
.sunset #ptc_2 .ptc-note-exposed {
    border-top: 45px solid #f57c44;
}
.sunset #ptc_2 .ptc-note-fold {
    border-left: 45px solid #f79e74;
}
.sunset #ptc_2 .ptc-arrow-down.ptc-first {
    border-top-color: #f68d5c;
}
.sunset #ptc_2 .ptc-arrow-down.ptc-second {
    border-top-color: #f79e74;
}
.sunset #ptc_2 .ptc-stars {
    color: #f9b291;
}
.sunset #ptc_2 .ptc-price {
    background-color: #f79e74;
}
.sunset #ptc_3 .ptc-header,
.sunset #ptc_3 .ptc-footer .ptc-button {
    background-color: #f4d27a;
}
.sunset #ptc_3 .ptc-note-exposed {
    border-top: 45px solid #f2ca62;
}
.sunset #ptc_3 .ptc-note-fold {
    border-left: 45px solid #f6da92;
}
.sunset #ptc_3 .ptc-arrow-down.ptc-first {
    border-top-color: #f4d27a;
}
.sunset #ptc_3 .ptc-arrow-down.ptc-second {
    border-top-color: #f6da92;
}
.sunset #ptc_3 .ptc-stars {
    color: #f8e4ae;
}
.sunset #ptc_3 .ptc-price {
    background-color: #f6da92;
}
.sunset #ptc_4 .ptc-header,
.sunset #ptc_4 .ptc-footer .ptc-button {
    background-color: #afc1cc;
}
.sunset #ptc_4 .ptc-note-exposed {
    border-top: 45px solid #9fb5c2;
}
.sunset #ptc_4 .ptc-note-fold {
    border-left: 45px solid #bfcdd6;
}
.sunset #ptc_4 .ptc-arrow-down.ptc-first {
    border-top-color: #afc1cc;
}
.sunset #ptc_4 .ptc-arrow-down.ptc-second {
    border-top-color: #bfcdd6;
}
.sunset #ptc_4 .ptc-stars {
    color: #d1dce2;
}
.sunset #ptc_4 .ptc-price {
    background-color: #bfcdd6;
}
.sunset #ptc_5 .ptc-header,
.sunset #ptc_5 .ptc-footer .ptc-button {
    background-color: #7895a2;
}
.sunset #ptc_5 .ptc-note-exposed {
    border-top: 45px solid #698998;
}
.sunset #ptc_5 .ptc-note-fold {
    border-left: 45px solid #87a1ac;
}
.sunset #ptc_5 .ptc-arrow-down.ptc-first {
    border-top-color: #7895a2;
}
.sunset #ptc_5 .ptc-arrow-down.ptc-second {
    border-top-color: #87a1ac;
}
.sunset #ptc_5 .ptc-stars {
    color: #99afb9;
}
.sunset #ptc_5 .ptc-price {
    background-color: #87a1ac;
}
.sunset #ptc_6 .ptc-header,
.sunset #ptc_6 .ptc-footer .ptc-button {
    background-color: #517281;
}
.sunset #ptc_6 .ptc-note-exposed {
    border-top: 45px solid #476471;
}
.sunset #ptc_6 .ptc-note-fold {
    border-left: 45px solid #5b8091;
}
.sunset #ptc_6 .ptc-arrow-down.ptc-first {
    border-top-color: #517281;
}
.sunset #ptc_6 .ptc-arrow-down.ptc-second {
    border-top-color: #5b8091;
}
.sunset #ptc_6 .ptc-stars {
    color: #6990a1;
}
.sunset #ptc_6 .ptc-price {
    background-color: #5b8091;
}
.candy #ptc_1 .ptc-header,
.candy #ptc_1 .ptc-footer .ptc-button {
    background-color: #fc7b77;
}
.candy #ptc_1 .ptc-note-exposed {
    border-top: 45px solid #fb635e;
}
.candy #ptc_1 .ptc-note-fold {
    border-left: 45px solid #fd9390;
}
.candy #ptc_1 .ptc-arrow-down.ptc-first {
    border-top-color: #fc7b77;
}
.candy #ptc_1 .ptc-arrow-down.ptc-second {
    border-top-color: #fd9390;
}
.candy #ptc_1 .ptc-stars {
    color: #fdb0ae;
}
.candy #ptc_1 .ptc-price {
    background-color: #fd9390;
}
.candy #ptc_2 .ptc-header,
.candy #ptc_2 .ptc-footer .ptc-button {
    background-color: #ff9996;
}
.candy #ptc_2 .ptc-note-exposed {
    border-top: 45px solid #ff807d;
}
.candy #ptc_2 .ptc-note-fold {
    border-left: 45px solid #ffb2b0;
}
.candy #ptc_2 .ptc-arrow-down.ptc-first {
    border-top-color: #ff9996;
}
.candy #ptc_2 .ptc-arrow-down.ptc-second {
    border-top-color: #ffb2b0;
}
.candy #ptc_2 .ptc-stars {
    color: #ffcfce;
}
.candy #ptc_2 .ptc-price {
    background-color: #ffb2b0;
}
.candy #ptc_3 .ptc-header,
.candy #ptc_3 .ptc-footer .ptc-button {
    background-color: #feb7b5;
}
.candy #ptc_3 .ptc-note-exposed {
    border-top: 45px solid #fe9f9c;
}
.candy #ptc_3 .ptc-note-fold {
    border-left: 45px solid #fecfce;
}
.candy #ptc_3 .ptc-arrow-down.ptc-first {
    border-top-color: #feb7b5;
}
.candy #ptc_3 .ptc-arrow-down.ptc-second {
    border-top-color: #fecfce;
}
.candy #ptc_3 .ptc-stars {
    color: #ffedec;
}
.candy #ptc_3 .ptc-price {
    background-color: #fecfce;
}
.candy #ptc_4 .ptc-header,
.candy #ptc_4 .ptc-footer .ptc-button {
    background-color: #fecea9;
}
.candy #ptc_4 .ptc-note-exposed {
    border-top: 45px solid #fec090;
}
.candy #ptc_4 .ptc-note-fold {
    border-left: 45px solid #fedcc2;
}
.candy #ptc_4 .ptc-arrow-down.ptc-first {
    border-top-color: #fecea9;
}
.candy #ptc_4 .ptc-arrow-down.ptc-second {
    border-top-color: #fedcc2;
}
.candy #ptc_4 .ptc-stars {
    color: #ffeee0;
}
.candy #ptc_4 .ptc-price {
    background-color: #fedcc2;
}
.candy #ptc_5 .ptc-header,
.candy #ptc_5 .ptc-footer .ptc-button {
    background-color: #a0d5e0;
}
.candy #ptc_5 .ptc-note-exposed {
    border-top: 45px solid #8dccda;
}
.candy #ptc_5 .ptc-note-fold {
    border-left: 45px solid #b3dde6;
}
.candy #ptc_5 .ptc-arrow-down.ptc-first {
    border-top-color: #a0d5e0;
}
.candy #ptc_5 .ptc-arrow-down.ptc-second {
    border-top-color: #b3dde6;
}
.candy #ptc_5 .ptc-stars {
    color: #cae8ee;
}
.candy #ptc_5 .ptc-price {
    background-color: #b3dde6;
}
.candy #ptc_6 .ptc-header,
.candy #ptc_6 .ptc-footer .ptc-button {
    background-color: #7fcfe0;
}
.candy #ptc_6 .ptc-note-exposed {
    border-top: 45px solid #6ac7db;
}
.candy #ptc_6 .ptc-note-fold {
    border-left: 45px solid #94d7e5;
}
.candy #ptc_6 .ptc-arrow-down.ptc-first {
    border-top-color: #7fcfe0;
}
.candy #ptc_6 .ptc-arrow-down.ptc-second {
    border-top-color: #94d7e5;
}
.candy #ptc_6 .ptc-stars {
    color: #ace0eb;
}
.candy #ptc_6 .ptc-price {
    background-color: #94d7e5;
}
.ocean #ptc_1 .ptc-header,
.ocean #ptc_1 .ptc-footer .ptc-button {
    background-color: #159594;
}
.ocean #ptc_1 .ptc-note-exposed {
    border-top: 45px solid #127f7e;
}
.ocean #ptc_1 .ptc-note-fold {
    border-left: 45px solid #18abaa;
}
.ocean #ptc_1 .ptc-arrow-down.ptc-first {
    border-top-color: #159594;
}
.ocean #ptc_1 .ptc-arrow-down.ptc-second {
    border-top-color: #18abaa;
}
.ocean #ptc_1 .ptc-stars {
    color: #1cc6c5;
}
.ocean #ptc_1 .ptc-price {
    background-color: #18abaa;
}
.ocean #ptc_2 .ptc-header,
.ocean #ptc_2 .ptc-footer .ptc-button {
    background-color: #09aea7;
}
.ocean #ptc_2 .ptc-note-exposed {
    border-top: 45px solid #089690;
}
.ocean #ptc_2 .ptc-note-fold {
    border-left: 45px solid #0ac6be;
}
.ocean #ptc_2 .ptc-arrow-down.ptc-first {
    border-top-color: #09aea7;
}
.ocean #ptc_2 .ptc-arrow-down.ptc-second {
    border-top-color: #0ac6be;
}
.ocean #ptc_2 .ptc-stars {
    color: #0ce3da;
}
.ocean #ptc_2 .ptc-price {
    background-color: #0ac6be;
}
.ocean #ptc_3 .ptc-header,
.ocean #ptc_3 .ptc-footer .ptc-button {
    background-color: #a9cf9e;
}
.ocean #ptc_3 .ptc-note-exposed {
    border-top: 45px solid #9ac78d;
}
.ocean #ptc_3 .ptc-note-fold {
    border-left: 45px solid #b8d7af;
}
.ocean #ptc_3 .ptc-arrow-down.ptc-first {
    border-top-color: #a9cf9e;
}
.ocean #ptc_3 .ptc-arrow-down.ptc-second {
    border-top-color: #b8d7af;
}
.ocean #ptc_3 .ptc-stars {
    color: #cae2c4;
}
.ocean #ptc_3 .ptc-price {
    background-color: #b8d7af;
}
.ocean #ptc_4 .ptc-header,
.ocean #ptc_4 .ptc-footer .ptc-button {
    background-color: #c7a885;
}
.ocean #ptc_4 .ptc-note-exposed {
    border-top: 45px solid #bf9c74;
}
.ocean #ptc_4 .ptc-note-fold {
    border-left: 45px solid #cfb496;
}
.ocean #ptc_4 .ptc-arrow-down.ptc-first {
    border-top-color: #c7a885;
}
.ocean #ptc_4 .ptc-arrow-down.ptc-second {
    border-top-color: #cfb496;
}
.ocean #ptc_4 .ptc-stars {
    color: #d9c3ab;
}
.ocean #ptc_4 .ptc-price {
    background-color: #cfb496;
}
.ocean #ptc_5 .ptc-header,
.ocean #ptc_5 .ptc-footer .ptc-button {
    background-color: #fe7040;
}
.ocean #ptc_5 .ptc-note-exposed {
    border-top: 45px solid #fe5d27;
}
.ocean #ptc_5 .ptc-note-fold {
    border-left: 45px solid #fe8359;
}
.ocean #ptc_5 .ptc-arrow-down.ptc-first {
    border-top-color: #fe7040;
}
.ocean #ptc_5 .ptc-arrow-down.ptc-second {
    border-top-color: #fe8359;
}
.ocean #ptc_5 .ptc-stars {
    color: #fe9a78;
}
.ocean #ptc_5 .ptc-price {
    background-color: #fe8359;
}
.ocean #ptc_6 .ptc-header,
.ocean #ptc_6 .ptc-footer .ptc-button {
    background-color: #8a697a;
}
.ocean #ptc_6 .ptc-note-exposed {
    border-top: 45px solid #7c5e6d;
}
.ocean #ptc_6 .ptc-note-fold {
    border-left: 45px solid #977687;
}
.ocean #ptc_6 .ptc-arrow-down.ptc-first {
    border-top-color: #8a697a;
}
.ocean #ptc_6 .ptc-arrow-down.ptc-second {
    border-top-color: #977687;
}
.ocean #ptc_6 .ptc-stars {
    color: #a48796;
}
.ocean #ptc_6 .ptc-price {
    background-color: #977687;
}
.earth #ptc_1 .ptc-header,
.earth #ptc_1 .ptc-footer .ptc-button {
    background-color: #828373;
}
.earth #ptc_1 .ptc-note-exposed {
    border-top: 45px solid #757567;
}
.earth #ptc_1 .ptc-note-fold {
    border-left: 45px solid #8f9080;
}
.earth #ptc_1 .ptc-arrow-down.ptc-first {
    border-top-color: #828373;
}
.earth #ptc_1 .ptc-arrow-down.ptc-second {
    border-top-color: #8f9080;
}
.earth #ptc_1 .ptc-stars {
    color: #9d9e90;
}
.earth #ptc_1 .ptc-price {
    background-color: #8f9080;
}
.earth #ptc_2 .ptc-header,
.earth #ptc_2 .ptc-footer .ptc-button {
    background-color: #656f66;
}
.earth #ptc_2 .ptc-note-exposed {
    border-top: 45px solid #59625a;
}
.earth #ptc_2 .ptc-note-fold {
    border-left: 45px solid #717c72;
}
.earth #ptc_2 .ptc-arrow-down.ptc-first {
    border-top-color: #656f66;
}
.earth #ptc_2 .ptc-arrow-down.ptc-second {
    border-top-color: #717c72;
}
.earth #ptc_2 .ptc-stars {
    color: #808c81;
}
.earth #ptc_2 .ptc-price {
    background-color: #717c72;
}
.earth #ptc_3 .ptc-header,
.earth #ptc_3 .ptc-footer .ptc-button {
    background-color: #7aada6;
}
.earth #ptc_3 .ptc-note-exposed {
    border-top: 45px solid #6aa39b;
}
.earth #ptc_3 .ptc-note-fold {
    border-left: 45px solid #8ab7b1;
}
.earth #ptc_3 .ptc-arrow-down.ptc-first {
    border-top-color: #7aada6;
}
.earth #ptc_3 .ptc-arrow-down.ptc-second {
    border-top-color: #8ab7b1;
}
.earth #ptc_3 .ptc-stars {
    color: #9dc2bd;
}
.earth #ptc_3 .ptc-price {
    background-color: #8ab7b1;
}
.earth #ptc_4 .ptc-header,
.earth #ptc_4 .ptc-footer .ptc-button {
    background-color: #b7bcb6;
}
.earth #ptc_4 .ptc-note-exposed {
    border-top: 45px solid #aab0a9;
}
.earth #ptc_4 .ptc-note-fold {
    border-left: 45px solid #c4c8c3;
}
.earth #ptc_4 .ptc-arrow-down.ptc-first {
    border-top-color: #b7bcb6;
}
.earth #ptc_4 .ptc-arrow-down.ptc-second {
    border-top-color: #c4c8c3;
}
.earth #ptc_4 .ptc-stars {
    color: #d4d7d3;
}
.earth #ptc_4 .ptc-price {
    background-color: #c4c8c3;
}
.earth #ptc_5 .ptc-header,
.earth #ptc_5 .ptc-footer .ptc-button {
    background-color: #4e3d36;
}
.earth #ptc_5 .ptc-note-exposed {
    border-top: 45px solid #3f312c;
}
.earth #ptc_5 .ptc-note-fold {
    border-left: 45px solid #5d4940;
}
.earth #ptc_5 .ptc-arrow-down.ptc-first {
    border-top-color: #4e3d36;
}
.earth #ptc_5 .ptc-arrow-down.ptc-second {
    border-top-color: #5d4940;
}
.earth #ptc_5 .ptc-stars {
    color: #6f574d;
}
.earth #ptc_5 .ptc-price {
    background-color: #5d4940;
}
.earth #ptc_6 .ptc-header,
.earth #ptc_6 .ptc-footer .ptc-button {
    background-color: #323232;
}
.earth #ptc_6 .ptc-note-exposed {
    border-top: 45px solid #252525;
}
.earth #ptc_6 .ptc-note-fold {
    border-left: 45px solid #3f3f3f;
}
.earth #ptc_6 .ptc-arrow-down.ptc-first {
    border-top-color: #323232;
}
.earth #ptc_6 .ptc-arrow-down.ptc-second {
    border-top-color: #3f3f3f;
}
.earth #ptc_6 .ptc-stars {
    color: #4e4e4e;
}
.earth #ptc_6 .ptc-price {
    background-color: #3f3f3f;
}
.modern #ptc_1 .ptc-header,
.modern #ptc_1 .ptc-footer .ptc-button {
    background-color: #2e2e31;
}
.modern #ptc_1 .ptc-note-exposed {
    border-top: 45px solid #222224;
}
.modern #ptc_1 .ptc-note-fold {
    border-left: 45px solid #3a3a3e;
}
.modern #ptc_1 .ptc-arrow-down.ptc-first {
    border-top-color: #2e2e31;
}
.modern #ptc_1 .ptc-arrow-down.ptc-second {
    border-top-color: #3a3a3e;
}
.modern #ptc_1 .ptc-stars {
    color: #49494e;
}
.modern #ptc_1 .ptc-price {
    background-color: #3a3a3e;
}
.modern #ptc_2 .ptc-header,
.modern #ptc_2 .ptc-footer .ptc-button {
    background-color: #4e4e56;
}
.modern #ptc_2 .ptc-note-exposed {
    border-top: 45px solid #424249;
}
.modern #ptc_2 .ptc-note-fold {
    border-left: 45px solid #5a5a63;
}
.modern #ptc_2 .ptc-arrow-down.ptc-first {
    border-top-color: #4e4e56;
}
.modern #ptc_2 .ptc-arrow-down.ptc-second {
    border-top-color: #5a5a63;
}
.modern #ptc_2 .ptc-stars {
    color: #696973;
}
.modern #ptc_2 .ptc-price {
    background-color: #5a5a63;
}
.modern #ptc_3 .ptc-header,
.modern #ptc_3 .ptc-footer .ptc-button {
    background-color: #da635d;
}
.modern #ptc_3 .ptc-note-exposed {
    border-top: 45px solid #d54f48;
}
.modern #ptc_3 .ptc-note-fold {
    border-left: 45px solid #df7772;
}
.modern #ptc_3 .ptc-arrow-down.ptc-first {
    border-top-color: #da635d;
}
.modern #ptc_3 .ptc-arrow-down.ptc-second {
    border-top-color: #df7772;
}
.modern #ptc_3 .ptc-stars {
    color: #e48f8b;
}
.modern #ptc_3 .ptc-price {
    background-color: #df7772;
}
.modern #ptc_4 .ptc-header,
.modern #ptc_4 .ptc-footer .ptc-button {
    background-color: #c4b9ab;
}
.modern #ptc_4 .ptc-note-exposed {
    border-top: 45px solid #b9ad9c;
}
.modern #ptc_4 .ptc-note-fold {
    border-left: 45px solid #cfc5ba;
}
.modern #ptc_4 .ptc-arrow-down.ptc-first {
    border-top-color: #c4b9ab;
}
.modern #ptc_4 .ptc-arrow-down.ptc-second {
    border-top-color: #cfc5ba;
}
.modern #ptc_4 .ptc-stars {
    color: #dbd4cc;
}
.modern #ptc_4 .ptc-price {
    background-color: #cfc5ba;
}
.modern #ptc_5 .ptc-header,
.modern #ptc_5 .ptc-footer .ptc-button {
    background-color: #b1938b;
}
.modern #ptc_5 .ptc-note-exposed {
    border-top: 45px solid #a7857c;
}
.modern #ptc_5 .ptc-note-fold {
    border-left: 45px solid #bba19a;
}
.modern #ptc_5 .ptc-arrow-down.ptc-first {
    border-top-color: #b1938b;
}
.modern #ptc_5 .ptc-arrow-down.ptc-second {
    border-top-color: #bba19a;
}
.modern #ptc_5 .ptc-stars {
    color: #c8b2ad;
}
.modern #ptc_5 .ptc-price {
    background-color: #bba19a;
}
.modern #ptc_6 .ptc-header,
.modern #ptc_6 .ptc-footer .ptc-button {
    background-color: #81665f;
}
.modern #ptc_6 .ptc-note-exposed {
    border-top: 45px solid #725a54;
}
.modern #ptc_6 .ptc-note-fold {
    border-left: 45px solid #90726a;
}
.modern #ptc_6 .ptc-arrow-down.ptc-first {
    border-top-color: #81665f;
}
.modern #ptc_6 .ptc-arrow-down.ptc-second {
    border-top-color: #90726a;
}
.modern #ptc_6 .ptc-stars {
    color: #9d827b;
}
.modern #ptc_6 .ptc-price {
    background-color: #90726a;
}


/* -------------------------------------------- */
/* -------------- BOOTSTRAP GRID -------------- */
/* -------------------------------------------- */

/*!
 * Bootstrap v3.2.0 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=3655bf388a83a6de1ed6)
 * Config saved to config.json and https://gist.github.com/3655bf388a83a6de1ed6
 */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-7 {
    width: 58.33333333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-1 {
    width: 8.33333333%;
}


@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }

}
@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
}
@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
}


/* -------------------------------------------- */
/* -------------- HOVER STYLES ---------------- */
/* -------------------------------------------- */

/*!
 * Hover.css (http://ianlunn.co.uk/)
 * Version: 1.0.8
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * Hover.css Copyright Ian Lunn 2014.
 */
/* Default styles for the demo buttons */

/* 2D TRANSITIONS */
/* Grow */
.grow {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.grow:hover, .grow:focus, .grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Shrink */
.shrink {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.shrink:hover, .shrink:focus, .shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}


/* Rotate */
.rotate {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.rotate:hover, .rotate:focus, .rotate:active {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
}

/* Grow Rotate */
.grow-rotate {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.grow-rotate:hover, .grow-rotate:focus, .grow-rotate:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
}

/* Float */
.float {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.float:hover, .float:focus, .float:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

/* Sink */
.sink {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.sink:hover, .sink:focus, .sink:active {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

/* Wobble Vertical */
@-webkit-keyframes wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.wobble-vertical {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.wobble-vertical:hover, .wobble-vertical:focus, .wobble-vertical:active {
    -webkit-animation-name: wobble-vertical;
    animation-name: wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Wobble Horizontal */
@-webkit-keyframes wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    33.3% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    33.3% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.wobble-horizontal {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.wobble-horizontal:hover, .wobble-horizontal:focus, .wobble-horizontal:active {
    -webkit-animation-name: wobble-horizontal;
    animation-name: wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Wobble To Bottom Right */
@-webkit-keyframes wobble-to-bottom-right {
    16.65% {
        -webkit-transform: translate(8px, 8px);
        transform: translate(8px, 8px);
    }

    33.3% {
        -webkit-transform: translate(-6px, -6px);
        transform: translate(-6px, -6px);
    }

    49.95% {
        -webkit-transform: translate(4px, 4px);
        transform: translate(4px, 4px);
    }

    66.6% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    83.25% {
        -webkit-transform: translate(1px, 1px);
        transform: translate(1px, 1px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes wobble-to-bottom-right {
    16.65% {
        -webkit-transform: translate(8px, 8px);
        transform: translate(8px, 8px);
    }

    33.3% {
        -webkit-transform: translate(-6px, -6px);
        transform: translate(-6px, -6px);
    }

    49.95% {
        -webkit-transform: translate(4px, 4px);
        transform: translate(4px, 4px);
    }

    66.6% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    83.25% {
        -webkit-transform: translate(1px, 1px);
        transform: translate(1px, 1px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.wobble-to-bottom-right {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.wobble-to-bottom-right:hover, .wobble-to-bottom-right:focus, .wobble-to-bottom-right:active {
    -webkit-animation-name: wobble-to-bottom-right;
    animation-name: wobble-to-bottom-right;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Wobble To Top Right */
@-webkit-keyframes wobble-to-top-right {
    16.65% {
        -webkit-transform: translate(8px, -8px);
        transform: translate(8px, -8px);
    }

    33.3% {
        -webkit-transform: translate(-6px, 6px);
        transform: translate(-6px, 6px);
    }

    49.95% {
        -webkit-transform: translate(4px, -4px);
        transform: translate(4px, -4px);
    }

    66.6% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    83.25% {
        -webkit-transform: translate(1px, -1px);
        transform: translate(1px, -1px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes wobble-to-top-right {
    16.65% {
        -webkit-transform: translate(8px, -8px);
        transform: translate(8px, -8px);
    }

    33.3% {
        -webkit-transform: translate(-6px, 6px);
        transform: translate(-6px, 6px);
    }

    49.95% {
        -webkit-transform: translate(4px, -4px);
        transform: translate(4px, -4px);
    }

    66.6% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    83.25% {
        -webkit-transform: translate(1px, -1px);
        transform: translate(1px, -1px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.wobble-to-top-right {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.wobble-to-top-right:hover, .wobble-to-top-right:focus, .wobble-to-top-right:active {
    -webkit-animation-name: wobble-to-top-right;
    animation-name: wobble-to-top-right;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Wobble Top */
@-webkit-keyframes wobble-top {
    16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    }

    33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }

    49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }

    66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }

    83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    }

    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

@keyframes wobble-top {
    16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    }

    33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }

    49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }

    66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }

    83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    }

    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

.wobble-top {
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.wobble-top:hover, .wobble-top:focus, .wobble-top:active {
    -webkit-animation-name: wobble-top;
    animation-name: wobble-top;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Wobble Bottom */
@-webkit-keyframes wobble-bottom {
    16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    }

    33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }

    49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }

    66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }

    83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    }

    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

@keyframes wobble-bottom {
    16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    }

    33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }

    49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }

    66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }

    83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    }

    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

.wobble-bottom {
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.wobble-bottom:hover, .wobble-bottom:focus, .wobble-bottom:active {
    -webkit-animation-name: wobble-bottom;
    animation-name: wobble-bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Wobble Skew */
@-webkit-keyframes wobble-skew {
    16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    }

    33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }

    49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }

    66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }

    83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    }

    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

@keyframes wobble-skew {
    16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    }

    33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }

    49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }

    66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }

    83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    }

    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

.wobble-skew {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.wobble-skew:hover, .wobble-skew:focus, .wobble-skew:active {
    -webkit-animation-name: wobble-skew;
    animation-name: wobble-skew;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Buzz Out */
@-webkit-keyframes buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

@keyframes buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

.buzz-out {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.buzz-out:hover, .buzz-out:focus, .buzz-out:active {
    -webkit-animation-name: buzz-out;
    animation-name: buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

